<h1 mat-dialog-title>Create New User</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Name</mat-label>
        <input type="text"
                style="width: 100%"
               aria-label="User Name"
               matInput
               [(ngModel)]="newUser.name">
      </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCloseClick()" cdkFocusInitial>Cancel</button>
    <button [disabled]="!newUser.name" mat-button [mat-dialog-close]="newUser">Add</button>
</div>